// Variables
$color-main-green: #5DB179;
$color-grey: #BDBDBD;
$color-orange: #FF6F59;

// Nav - Component
#nav {
    position: fixed;
    background-image: url("/img/bg/double-bubble-dark.png");
    background-repeat: repeat;
    height: 100vh;
    width: 100px;
    z-index: 5;
    box-shadow: 0px 0px 0px 2px $color-main-green;
    transition: width 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    .mobile-menu {
        display: none;
    }
    .nav-links-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-left: 20px;
        overflow: hidden;
        .nav-link {
            color: $color-grey; 
            display: flex; 
            justify-content: flex-start;
            align-items: center;
            width: 100%;    
            margin-bottom: 0.85rem;
            .nav-link-text {
                visibility: hidden;
                color: $color-grey;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 0.9rem;
                opacity: 0;
                padding-left: 0.5rem;
                padding-top: 0.5rem;
                transition: opacity 0.5s ease-in-out;
            }
            .nav-link-image {
                transition: opacity 1s ease-in-out 1s;
                opacity: 0.5;
            }
            &:hover {
                .nav-link-text {
                    color: $color-main-green;
                }
            }
        }
    }
    &:hover {
        width: 180px;
        box-shadow: 0px 0px 0px 5px $color-main-green;
        .nav-links-container {
            .nav-link {  
                position: relative;         
                .nav-link-text {
                    visibility: visible;
                    opacity: 1;
                }
                .nav-link-image {
                    opacity: 1;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    #nav {
        position: relative;
        width: 100%;
        height: auto;
        background-image: none;
        box-shadow: none;
        .nav-links-container {
            display: none;
        }
        &:hover {
            width: 100%;
            height: 100%;
            box-shadow: none;
        }
        .mobile-menu {
            display: block;
            height: 80px;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            &::before {
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                background-color: #222222;
                z-index: -1;
            }
            &::after {
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                background-image: url("/img/bg/double-bubble-dark.png");
                background-repeat: repeat;
                z-index: -1;
            }
            .hamburger {
                height: 50px;
                width: 50px;
                position: absolute;
                right: 10px;
                top: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                .hamburger-line {
                    content: "";
                    position: absolute;
                    height: 3px;
                    width: 80%;
                    background-color: $color-main-green;
                    transition: 0.5s ease-in-out;
                    &::before {
                        content: "";
                        position: absolute;
                        top: -10px;
                        height: 3px;
                        width: 100%;
                        background-color: $color-main-green;
                        transition: 0.5s ease-in-out;

                    }
                    &::after {
                        content: "";
                        position: absolute;
                        top: 11px;
                        height: 3px;
                        width: 100%;
                        background-color: $color-main-green;
                        transition: 0.5s ease-in-out;
                    }
                }
            }
            .hamburger.open {
                .hamburger-line {
                    transform: rotate(45deg);
                    &::before {
                        top: 0;
                        transform: rotate(-90deg);
                    }
                    &::after {
                        opacity: 0;
                    }
                }
            }
            .nav-links-mobile {
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                align-items: center;
                transform: translateX(200%);
                position: absolute;
                top: 80px;
                width: 100%;
                height: auto;
                visibility: hidden;
                transition: all 0.5s ease-in-out;
                z-index: 0;
                padding-bottom: 1rem;
                &::before {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-color: #222222;
                    z-index: -1;
                }
                &::after {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-image: url("/img/bg/double-bubble-dark.png");
                    background-repeat: repeat;
                    z-index: -1;
                }
                .nav-link {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    padding: 1rem;
                    border: none;
                    color: $color-grey;
                    text-transform: uppercase;
                    .nav-link-text,  
                    .nav-link-image {
                        padding-left: 0.5rem;
                        opacity: 0;
                        transition: opacity 0.3s ease-in-out 0.5s;
                    }
                }
            }
            .nav-links-mobile.open {
                visibility: visible;
                top: 80px;
                transform: translateY(0%);
                .nav-link-text,
                .nav-link-image {
                    opacity: 1;
                }
            }
        }
    }
}