// Variables
$color-main-green: #5DB179;
$color-grey: #BDBDBD;
$color-orange: #FF6F59;



// Resets
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #222222;
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
    color: #fff;
}

h1 {
    margin: 0;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.copy-link {
    color: $color-main-green;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}

// Utilities

// Headings
.lead {
    font-size: 2.2rem;
    padding-bottom: 1rem;
}

.subtitle {
    font-size: 1.1rem;
    font-style: italic;
    color: $color-grey;
    padding-bottom: 1rem;
}

.heading-green {
    color: $color-main-green;
    font-size: 1.8rem;
}

p {
    line-height: 1.7;
}

.ml-1 {
    margin-left: 1rem;
}

// Buttons
.btn-primary {
    box-shadow: 0px 0px 0px 4px $color-main-green inset;
    padding: 1rem 1.5rem;
    display: inline-flex;
    margin-bottom: 1rem;    
    background: linear-gradient(to right, $color-main-green 50%, #222222 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    cursor: pointer;
    color: $color-main-green;

    a {
        color: $color-main-green;
        text-transform: uppercase;
    }

    &:hover {
        background-position: left bottom;
        .btn-text {
            color: #fff;  
          }

          a {
              color: #fff;
          }
    }

    .btn-text {
        text-align: center;
        font-size: 1.2rem;
        line-height: 30px; 
        color: $color-main-green;
        transition: all 1s ease-out;
        display: block;
  }
}

.website {
    background-color: #222222;
    color: #fff;
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
    height: 100vh;
    width: 100vw;
    position: relative;
}    

// Home
#home {
    min-height: 100vh;
    width: 70%;
    margin-left: 20%;
    margin-right: 10%; 
    position: relative;
    &::after {
        content: "";
        position: absolute;
        background: url("/img/bg/robin-hood-1.png") no-repeat right;
        height: 100vh;
        width: 100%;
        top: 0;
        right: -14%;
        z-index: -1;
    }

    
    .home-content {    
        display: flex; 
        align-items: center;
        justify-content: space-between;
        height: 100vh;
        width: 100%;
        position: relative;
        &-left {
            .headshot-container {
                display: none;
            }
        }
        &-right {
            z-index: 1;
            .headshot-container {
                border-radius: 50%;
                transform: scale(0.9);
                overflow: hidden;
                .headshot {
                    transform: scale(1.1);
                }
            }
        }
    }

}

// About
#about {
    height: 100%;
    min-height: 100vh;
    width: 85%;
    margin-left: 15%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;   
    &::after {
        content: "";
        position: absolute;
        background-image: url("/img/bg/arrow.png");
        background-repeat: no-repeat;
        background-position: top;
        height: 100%;
        width: 100%;
        z-index: -1;
    }

    
    .about-content {    
        display: flex; 
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        position: relative;

        &-left {
            flex-basis: 100%;
            margin-right: 4rem;
        }
        &-right {
            z-index: 1;
            position: relative;
            flex-basis: 100%;
            z-index: 1;
            height: 500px;

            .experience-container {
                background-image: url("/img/bg/webb-dark.png");
                background-repeat: repeat;
                min-height: 500px;

                &::after {
                    content: "";
                    position: absolute;
                    height: 5px;
                    width: 100%;
                    background-color: $color-orange;
                    bottom: 0;
                    right: 0;
                }
                .timeline-container {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    min-height: 500px;
                    .timeline-section {
                        display: flex;
                        justify-content: flex-start;
                        padding: 1rem;
                    }
                    .timeline-date {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        position: relative;
                        &::after {
                            content: "";
                            position: absolute;
                            height: 100%;
                            width: 2px;
                            right: -40px;
                            background-color: $color-grey;
                        }
                        &-from , &-to{
                            position: relative;
                            &::after {
                                content: "";
                                position: absolute;
                                width: 20px;
                                height: 2px;
                                right: -40px;
                                background-color: $color-grey;
                            }
                        }
                        &-to {
                            &::after {
                                bottom: 0px;
                            }
                        }
                    }
                }
                .timeline-content {
                    display: flex;
                    justify-content: flex-end;
                    position: relative;
                    left: 70px;
                    &-text {
                        padding-right: 1rem;
                        color: $color-main-green;
                    }
                }
            }
        }
    }
    .about-next-page-link-container {
        .next-page-link {
            width: 100%;
            right: 0;
        }
    }
}


// Skills
#skills {
    display: flex;
    align-items: center;
    height: 100%;
    min-height: 100vh;
    width: 85%;
    margin-left: 15%;
    position: relative;
    overflow: hidden;  

    
    .skills-content {    
        display: flex; 
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        position: relative;

        &-left {
            margin-right: 1rem;
            flex-basis: 100%;
            padding-right: 5rem;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                height: 2px;
                width: 40%;
                background-color: $color-grey;
                opacity: 0.2;
                top: -3rem;
                right: 5rem;
                transform: rotate(-25deg);
            }
            &::after {
                content: "";
                position: absolute;
                height: 2px;
                width: 40%;
                background-color: $color-grey;
                opacity: 0.2;
                bottom: -3rem;
                right: 5rem;
                transform: rotate(25deg);
            }
        }
        &-right {
            z-index: 1;
            position: relative;
            flex-basis: 100%;

            .skills-container {
                background-image: url("/img/bg/webb-dark.png");
                background-repeat: repeat;
                margin-left: 1rem;
                position: relative;
                padding: 2rem;
                &::after {
                    content: "";
                    position: absolute;
                    height: 5px;
                    width: 100%;
                    background-color: $color-orange;
                    bottom: 0;
                    left: 0;
                }
                .skills-row {
                    display: flex;
                    justify-content: flex-end;
                    padding-bottom: 1rem;
                    .skills-row-item {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        padding-left: 2rem;
                        height: 70px;
                        width: 65px;
                        .skills-logo {
                            height: 30px;
                        }
                    }
                }
            }
        }
    }
    .skills-next-page-link-container {
        .next-page-link {
            width: 100%;
            right: 0;
        }
    }
}

// Portfolio
    #portfolio {
        height: 100%;
        width: 85%;
        margin-left: 15%;
        position: relative;
        overflow: hidden;
        padding-bottom: 100px;
        .portfolio-content {
            margin-top: 5%;
            padding-right: 5%;
            height: 100%;
            color: #fff;
            
            .portfolio-items {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 3rem;
                padding: 3rem 0rem;
            }
        }   
    }


    // Contact
.contact-container {
    color: #fff;
    height: 100%;
    width: 100%;

    #contact {
        height: 100%;
        width: 85%;
        margin-left: 15%;
        position: relative;
        overflow: hidden;        
        .contact-content {    
            display: flex; 
            align-items: flex-start;
            justify-content: space-between;
            margin-top: 15%;
            height: 100%;
            width: 100%;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                background-image: url("/img/bg/aeroplanes.png");
                background-repeat: no-repeat;
                background-position: top;
                top: -210px;
                height: 200px;
                width: 100%;
                z-index: 0;
            }
            &-left {
                margin-right: 1rem;
                flex-basis: 100%;
                padding-right: 3rem;
                .profiles-container {
                    padding-top: 2rem;
                    display: inline-flex;
                    .profile-item {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        &-link {
                            color: #fff;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            .profile-logo {
                                width: 35px;
                                padding-bottom: 1rem;
                            }
                            .profile-text {
                                text-transform: uppercase;
                            }
                            &:hover {
                                .profile-text {
                                    color: $color-main-green;
                                }
                            }
                        }
                        &:nth-child(2) {
                            padding-left: 2rem;
                        }
                    }
                }
            }
            &-right {
                z-index: 1;
                position: relative;
                flex-basis: 100%;

                .contact-form-container {
                    background-image: url("/img/bg/webb-dark.png");
                    background-repeat: repeat;
                    margin-left: 1rem;
                    position: relative;
                    padding: 2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    &::after {
                        content: "";
                        position: absolute;
                        height: 5px;
                        width: 100%;
                        background-color: $color-orange;
                        bottom: 0;
                        left: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    // Home
    #home {
        width: 100%;
        height: 100%;
        margin: 0;
        overflow-x: hidden;
        .home-content {
            justify-content: space-around;
        }
    }

    // About
    #about {
        width: 100%;
        height: 100%;
        margin: 0;
        overflow: hidden;
        padding-top: 80px;
        padding-bottom: 80px;
        align-items: flex-start;
        .about-content {
            height: 100%;
            flex-direction: column;
            align-items: flex-start;
            padding: 5%;
            &-left {
                margin: 0;
            }
            &-right {
                margin: 0;
                padding-top: 50px;
                width: 100%;
                height: 100%;
            }
        }
    }

    // Skills
    #skills {
        width: 100%;
        height: 100%;
        margin: 0;
        overflow: hidden;
        padding-top: 80px;
        align-items: flex-start;
        .skills-content {
            height: 100%;
            flex-direction: column;
            align-items: flex-start;
            &-left {
                margin: 0;
                padding: 5%;
                &::before {
                    display: none;
                }
                &::after {
                    display: none;
                }
            }
            &-right {
                width: 100%;
                .skills-container {
                    margin: 0;
                    width: 100%;
                    .skills-row {
                        justify-content: flex-start;
                        .skills-row-item {
                            padding-left: 0;
                            padding-right: 1rem;
                        }
                    }
                }
            }
        }
        .skills-next-page-link-container {
            .next-page-link {
                width: 100%;
                bottom: 2%;
            }
        }
    }

    // Portfolio 
    #portfolio {
        margin: 0;
        width: 100%;
        padding: 50px 0;
        .portfolio-content {
            padding: 5%;
            .portfolio-items {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    // Contact
    .contact-container {
        display: flex;
        justify-content: center;
        width: 100%;
        #contact {
            width: 100%;
            margin: 0;
            .contact-content {
                padding: 0;
                flex-direction: column;
                &::after {
                    left: 0;
                    width: 90%;
                }
                &-left {
                    padding: 5%;
                    margin: 0;
                }
                &-right {
                    width: 90%;
                    padding-left: 5%;
                    .contact-form-container {
                        margin: 0;
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 767px) {
    // Home
    #home {
        width: 100%;
        height: 100%;
        margin: 0;
        
        .home-content {
            flex-direction: column;
            justify-content: space-around;
            height: 100%;
            padding: 100px 0;
            &-left {
                .headshot-container {
                    display: block;
                    border-radius: 50%;
                    transform: scale(0.9);
                    overflow: hidden;
                    .headshot {
                        transform: scale(1.1);
                    }
                }
                .btn-primary {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    background: none;
                    &:hover {
                        color: $color-main-green;
                    }
                }
            }
            &-right {
                .headshot-container {
                    display: none;
                }
            }
        }
    }

    // About
    #about {
        width: 100%;
        height: 100%;
        margin: 0;
        padding-top: 80px;
        padding-bottom: 80px;
        .about-content {
            height: 100%;
            flex-direction: column;
            align-items: flex-start;
            padding: 0;
            padding-bottom: 80px;
            &-left {
                margin: 0;
                padding: 10%;
            }
            &-right {
                margin: 0;
                padding-top: 50px;
                height: 100%;
                .experience-container {
                    height: 100%;
                    .personal-item-links {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        .btn-primary {
                            display: flex;
                            justify-content: center;
                            width: 50%;
                            padding: 0.75rem;
                            font-size: 1rem;
                        }

                    }
                    .timeline-container {
                        height: 100%;
                    }
                }
            }
        }
    }   

    // Skills
    #skills {
        .skills-content {
            padding-bottom: 100px;
            &-left {
                padding: 10%;
                &::before {
                    display: none;
                }
                &::after {
                    display: none;
                }
            }
        }
        .skills-next-page-link-container {
            .next-page-link {
                width: 100%;
                bottom: 2%;
            }
        }
    }


    // Portfolio 
    #portfolio {
        .portfolio-content {
            padding: 50px 5%;
            .portfolio-items {
                grid-template-columns: 1fr;
                grid-gap: 1rem;
            }
        }
    }

    // Contact
    .contact-container {
        #contact {
            .contact-content {    
                padding: 50px 0;
                &-right {
                    padding: 0;
                    width: 100%;
                }
            }
        }
    }
}
