body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #222222;
  font-family: 'Archivo', sans-serif;
  font-weight: 400;
  color: #fff;
}

h1 {
  margin: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.lead {
  font-size: 2.2rem;
  padding-bottom: 1rem;
}

.subtitle {
  font-size: 1.1rem;
  font-style: italic;
  color: #BDBDBD;
  padding-bottom: 1rem;
}

.heading-green {
  color: #5DB179;
  font-size: 1.8rem;
}

p {
  line-height: 1.7;
}

.ml-1 {
  margin-left: 1rem;
}

.btn-primary {
  -webkit-box-shadow: 0px 0px 0px 4px #5DB179 inset;
          box-shadow: 0px 0px 0px 4px #5DB179 inset;
  padding: 1rem 1.5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 1rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #5DB179), color-stop(50%, #222222));
  background: linear-gradient(to right, #5DB179 50%, #222222 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  cursor: pointer;
  color: #5DB179;
}

.btn-primary a {
  color: #5DB179;
  text-transform: uppercase;
}

.btn-primary:hover {
  background-position: left bottom;
}

.btn-primary:hover .btn-text {
  color: #fff;
}

.btn-primary:hover a {
  color: #fff;
}

.btn-primary .btn-text {
  text-align: center;
  font-size: 1.2rem;
  line-height: 30px;
  color: #5DB179;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  display: block;
}

.website {
  background-color: #222222;
  color: #fff;
  font-family: 'Archivo', sans-serif;
  font-weight: 400;
  height: 100vh;
  width: 100vw;
  position: relative;
}

#home {
  min-height: 100vh;
  width: 70%;
  margin-left: 20%;
  margin-right: 10%;
  position: relative;
}

#home::after {
  content: "";
  position: absolute;
  background: url("/img/bg/robin-hood-1.png") no-repeat right;
  height: 100vh;
  width: 100%;
  top: 0;
  right: -14%;
  z-index: -1;
}

#home .home-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  width: 100%;
  position: relative;
}

#home .home-content-left .headshot-container {
  display: none;
}

#home .home-content-right {
  z-index: 1;
}

#home .home-content-right .headshot-container {
  border-radius: 50%;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  overflow: hidden;
}

#home .home-content-right .headshot-container .headshot {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#about {
  height: 100%;
  min-height: 100vh;
  width: 85%;
  margin-left: 15%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about::after {
  content: "";
  position: absolute;
  background-image: url("/img/bg/arrow.png");
  background-repeat: no-repeat;
  background-position: top;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#about .about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 100%;
  position: relative;
}

#about .about-content-left {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-right: 4rem;
}

#about .about-content-right {
  z-index: 1;
  position: relative;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  z-index: 1;
  height: 500px;
}

#about .about-content-right .experience-container {
  background-image: url("/img/bg/webb-dark.png");
  background-repeat: repeat;
  min-height: 500px;
}

#about .about-content-right .experience-container::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: #FF6F59;
  bottom: 0;
  right: 0;
}

#about .about-content-right .experience-container .timeline-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-height: 500px;
}

#about .about-content-right .experience-container .timeline-container .timeline-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1rem;
}

#about .about-content-right .experience-container .timeline-container .timeline-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

#about .about-content-right .experience-container .timeline-container .timeline-date::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  right: -40px;
  background-color: #BDBDBD;
}

#about .about-content-right .experience-container .timeline-container .timeline-date-from, #about .about-content-right .experience-container .timeline-container .timeline-date-to {
  position: relative;
}

#about .about-content-right .experience-container .timeline-container .timeline-date-from::after, #about .about-content-right .experience-container .timeline-container .timeline-date-to::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  right: -40px;
  background-color: #BDBDBD;
}

#about .about-content-right .experience-container .timeline-container .timeline-date-to::after {
  bottom: 0px;
}

#about .about-content-right .experience-container .timeline-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  left: 70px;
}

#about .about-content-right .experience-container .timeline-content-text {
  padding-right: 1rem;
  color: #5DB179;
}

#about .about-next-page-link-container .next-page-link {
  width: 100%;
  right: 0;
}

#skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  min-height: 100vh;
  width: 85%;
  margin-left: 15%;
  position: relative;
  overflow: hidden;
}

#skills .skills-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 100%;
  position: relative;
}

#skills .skills-content-left {
  margin-right: 1rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding-right: 5rem;
  position: relative;
}

#skills .skills-content-left::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 40%;
  background-color: #BDBDBD;
  opacity: 0.2;
  top: -3rem;
  right: 5rem;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

#skills .skills-content-left::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 40%;
  background-color: #BDBDBD;
  opacity: 0.2;
  bottom: -3rem;
  right: 5rem;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

#skills .skills-content-right {
  z-index: 1;
  position: relative;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

#skills .skills-content-right .skills-container {
  background-image: url("/img/bg/webb-dark.png");
  background-repeat: repeat;
  margin-left: 1rem;
  position: relative;
  padding: 2rem;
}

#skills .skills-content-right .skills-container::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: #FF6F59;
  bottom: 0;
  left: 0;
}

#skills .skills-content-right .skills-container .skills-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 1rem;
}

#skills .skills-content-right .skills-container .skills-row .skills-row-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2rem;
  height: 70px;
  width: 65px;
}

#skills .skills-content-right .skills-container .skills-row .skills-row-item .skills-logo {
  height: 30px;
}

#skills .skills-next-page-link-container .next-page-link {
  width: 100%;
  right: 0;
}

#portfolio {
  height: 100%;
  width: 85%;
  margin-left: 15%;
  position: relative;
  overflow: hidden;
  padding-bottom: 100px;
}

#portfolio .portfolio-content {
  margin-top: 5%;
  padding-right: 5%;
  height: 100%;
  color: #fff;
}

#portfolio .portfolio-content .portfolio-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  padding: 3rem 0rem;
}

.contact-container {
  color: #fff;
  height: 100%;
  width: 100%;
}

.contact-container #contact {
  height: 100%;
  width: 85%;
  margin-left: 15%;
  position: relative;
  overflow: hidden;
}

.contact-container #contact .contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15%;
  height: 100%;
  width: 100%;
  position: relative;
}

.contact-container #contact .contact-content::after {
  content: "";
  position: absolute;
  background-image: url("/img/bg/aeroplanes.png");
  background-repeat: no-repeat;
  background-position: top;
  top: -210px;
  height: 200px;
  width: 100%;
  z-index: 0;
}

.contact-container #contact .contact-content-left {
  margin-right: 1rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding-right: 3rem;
}

.contact-container #contact .contact-content-left .profiles-container {
  padding-top: 2rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.contact-container #contact .contact-content-left .profiles-container .profile-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-container #contact .contact-content-left .profiles-container .profile-item-link {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-container #contact .contact-content-left .profiles-container .profile-item-link .profile-logo {
  width: 35px;
  padding-bottom: 1rem;
}

.contact-container #contact .contact-content-left .profiles-container .profile-item-link .profile-text {
  text-transform: uppercase;
}

.contact-container #contact .contact-content-left .profiles-container .profile-item-link:hover .profile-text {
  color: #5DB179;
}

.contact-container #contact .contact-content-left .profiles-container .profile-item:nth-child(2) {
  padding-left: 2rem;
}

.contact-container #contact .contact-content-right {
  z-index: 1;
  position: relative;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.contact-container #contact .contact-content-right .contact-form-container {
  background-image: url("/img/bg/webb-dark.png");
  background-repeat: repeat;
  margin-left: 1rem;
  position: relative;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact-container #contact .contact-content-right .contact-form-container::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: #FF6F59;
  bottom: 0;
  left: 0;
}

@media only screen and (max-width: 1024px) {
  #home {
    width: 100%;
    margin: 0;
    overflow: hidden;
  }
  #home .home-content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #about {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding-top: 80px;
    padding-bottom: 80px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #about .about-content {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 5%;
  }
  #about .about-content-left {
    margin: 0;
  }
  #about .about-content-right {
    margin: 0;
    padding-top: 50px;
    width: 100%;
    height: 100%;
  }
  #skills {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding-top: 80px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #skills .skills-content {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #skills .skills-content-left {
    margin: 0;
    padding: 5%;
  }
  #skills .skills-content-left::before {
    display: none;
  }
  #skills .skills-content-left::after {
    display: none;
  }
  #skills .skills-content-right {
    width: 100%;
  }
  #skills .skills-content-right .skills-container {
    margin: 0;
    width: 100%;
  }
  #skills .skills-content-right .skills-container .skills-row {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #skills .skills-content-right .skills-container .skills-row .skills-row-item {
    padding-left: 0;
    padding-right: 1rem;
  }
  #skills .skills-next-page-link-container .next-page-link {
    width: 100%;
    bottom: 2%;
  }
  #portfolio {
    margin: 0;
    width: 100%;
    padding: 50px 0;
  }
  #portfolio .portfolio-content {
    padding: 5%;
  }
  #portfolio .portfolio-content .portfolio-items {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .contact-container #contact {
    width: 100%;
    margin: 0;
  }
  .contact-container #contact .contact-content {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-container #contact .contact-content::after {
    left: 0;
    width: 90%;
  }
  .contact-container #contact .contact-content-left {
    padding: 5%;
    margin: 0;
  }
  .contact-container #contact .contact-content-right {
    width: 90%;
    padding-left: 5%;
  }
  .contact-container #contact .contact-content-right .contact-form-container {
    margin: 0;
  }
}

@media only screen and (max-width: 767px) {
  #home {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
  }
  #home .home-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 100%;
    padding: 80px 0;
  }
  #home .home-content-left .headshot-container {
    display: block;
    border-radius: 50%;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    overflow: hidden;
  }
  #home .home-content-left .headshot-container .headshot {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  #home .home-content-left .btn-primary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  #home .home-content-right .headshot-container {
    display: none;
  }
  #about {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  #about .about-content {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0;
    padding-bottom: 80px;
  }
  #about .about-content-left {
    margin: 0;
    padding: 10%;
  }
  #about .about-content-right {
    margin: 0;
    padding-top: 50px;
    height: 100%;
  }
  #about .about-content-right .experience-container {
    height: 100%;
  }
  #about .about-content-right .experience-container .timeline-container {
    height: 100%;
  }
  #skills .skills-content {
    padding-bottom: 100px;
  }
  #skills .skills-content-left {
    padding: 10%;
  }
  #skills .skills-content-left::before {
    display: none;
  }
  #skills .skills-content-left::after {
    display: none;
  }
  #skills .skills-next-page-link-container .next-page-link {
    width: 100%;
    bottom: 2%;
  }
  #portfolio .portfolio-content {
    padding: 5%;
  }
  #portfolio .portfolio-content .portfolio-items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  .contact-container #contact .contact-content {
    padding-bottom: 80px;
  }
  .contact-container #contact .contact-content-right {
    padding: 0;
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */