// Variables
$color-main-green: #5DB179;
$color-grey: #BDBDBD;
$color-orange: #FF6F59;

// Resets
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #222222;
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
    color: #fff;
}

h1 {
    margin: 0;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}

// Utilities

// Headings
.lead {
    font-size: 2.2rem;
    padding-bottom: 1rem;
}

.subtitle {
    font-size: 1.1rem;
    font-style: italic;
    color: $color-grey;
    padding-bottom: 1rem;
}

.heading-green {
    color: $color-main-green;
    font-size: 1.8rem;
}

p {
    line-height: 1.7;
}

.ml-1 {
    margin-left: 1rem;
}

// Buttons
.btn-primary {
    box-shadow: 0px 0px 0px 4px $color-main-green inset;
    padding: 1rem 1.5rem;
    display: inline-flex;
    margin-bottom: 1rem;    
    background: linear-gradient(to right, $color-main-green 50%, #222222 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    cursor: pointer;
    color: $color-main-green;

    a {
        color: $color-main-green;
        text-transform: uppercase;
    }

    &:hover {
        background-position: left bottom;
        .btn-text {
            color: #fff;  
          }

          a {
              color: #fff;
          }
    }

    .btn-text {
        text-align: center;
        font-size: 1.2rem;
        line-height: 30px; 
        color: $color-main-green;
        transition: all 1s ease-out;
        display: block;
  }
}

.website {
    background-color: #222222;
    color: #fff;
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
    height: 100vh;
    width: 100vw;
    position: relative;
}    

// Home
#home {
    height: 100%;
    width: 70%;
    margin-left: 20%;
    margin-right: 10%; 
    position: relative;
    &::after {
        content: "";
        position: absolute;
        background: url("/img/bg/robin-hood-1.png") no-repeat right;
        height: 100vh;
        width: 100%;
        top: 0;
        right: -14%;
        z-index: -1;
    }

    
    .home-content {    
        display: flex; 
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        position: relative;
        &-right {
            z-index: 1;
            .headshot-container {
                border-radius: 50%;
                transform: scale(0.9);
                overflow: hidden;
                .headshot {
                    transform: scale(1.1);
                }
            }
        }
    }

}

// About
#about {
    height: 100%;
    width: 85%;
    margin-left: 15%;
    position: relative;
    overflow: hidden;

    
    .about-content {    
        display: flex; 
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            background-image: url("/img/bg/arrow.png");
            background-repeat: no-repeat;
            background-position: top;
            height: 100%;
            width: 100%;
            z-index: 0;
        }
        &-left {
            margin-right: 1rem;
            flex-basis: 100%;
            padding-right: 5rem;
        }
        &-right {
            z-index: 1;
            position: relative;
            flex-basis: 100%;
            align-self: flex-start;
            margin-top: 10%;

            .experience-container {
                background-image: url("/img/bg/webb-dark.png");
                background-repeat: repeat;
                margin-left: 1rem;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    height: 5px;
                    width: 100%;
                    background-color: $color-orange;
                    bottom: 0;
                    left: 0;
                }
                .timeline-container {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    height: 400px;
                    overflow-y: auto;
                    .timeline-section {
                        display: flex;
                        justify-content: space-between;
                        padding: 1rem;
                    }
                    .timeline-date {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        position: relative;
                        &::after {
                            content: "";
                            position: absolute;
                            height: 100%;
                            width: 2px;
                            right: -40px;
                            background-color: $color-grey;
                        }
                        &-from , &-to{
                            position: relative;
                            &::after {
                                content: "";
                                position: absolute;
                                width: 20px;
                                height: 2px;
                                right: -40px;
                                background-color: $color-grey;
                            }
                        }
                        &-to {
                            &::after {
                                bottom: 0px;
                            }
                        }
                    }
                }
                .timeline-content {
                    display: flex;
                    justify-content: flex-end;
                    &-text {
                        padding-right: 1rem;
                        color: $color-main-green;
                    }
                }
            }
        }
    }
}

// Skills
#skills {
    height: 100%;
    width: 85%;
    margin-left: 15%;
    position: relative;
    overflow: hidden;

    
    .skills-content {    
        display: flex; 
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        position: relative;

        &-left {
            margin-right: 1rem;
            flex-basis: 100%;
            padding-right: 5rem;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                height: 2px;
                width: 40%;
                background-color: $color-grey;
                opacity: 0.2;
                top: -3rem;
                right: 5rem;
                transform: rotate(-25deg);
            }
            &::after {
                content: "";
                position: absolute;
                height: 2px;
                width: 40%;
                background-color: $color-grey;
                opacity: 0.2;
                bottom: -3rem;
                right: 5rem;
                transform: rotate(25deg);
            }
        }
        &-right {
            z-index: 1;
            position: relative;
            flex-basis: 100%;

            .skills-container {
                background-image: url("/img/bg/webb-dark.png");
                background-repeat: repeat;
                margin-left: 1rem;
                position: relative;
                padding: 2rem;
                &::after {
                    content: "";
                    position: absolute;
                    height: 5px;
                    width: 100%;
                    background-color: $color-orange;
                    bottom: 0;
                    left: 0;
                }
                .skills-row {
                    display: flex;
                    justify-content: flex-end;
                    padding-bottom: 1rem;
                    .skills-row-item {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        padding-left: 2rem;
                        height: 70px;
                        width: 65px;
                        .skills-logo {
                            height: 30px;
                        }
                    }
                }
            }
        }
    }

}

// Portfolio
    #portfolio {
        height: 100%;
        width: 85%;
        margin-left: 15%;
        position: relative;
        overflow: hidden;
        padding-bottom: 100px;
        .portfolio-content {
            margin-top: 5%;
            padding-right: 5%;
            height: 100%;
            color: #fff;
            
            .portfolio-items {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 3rem;
                padding: 3rem 0rem;
            }
        }   
    }


    // Contact
.contact-container {
    color: #fff;
    height: 100%;
    width: 100%;

    #contact {
        height: 100%;
        width: 85%;
        margin-left: 15%;
        position: relative;
        overflow: hidden;        
        .contact-content {    
            display: flex; 
            align-items: flex-start;
            justify-content: space-between;
            margin-top: 15%;
            height: 100%;
            width: 100%;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                background-image: url("/img/bg/aeroplanes.png");
                background-repeat: no-repeat;
                background-position: top;
                top: -210px;
                height: 200px;
                width: 100%;
                z-index: 0;
            }
            &-left {
                margin-right: 1rem;
                flex-basis: 100%;
                padding-right: 3rem;
            }
            &-right {
                z-index: 1;
                position: relative;
                flex-basis: 100%;

                .contact-form-container {
                    background-image: url("/img/bg/webb-dark.png");
                    background-repeat: repeat;
                    margin-left: 1rem;
                    position: relative;
                    padding: 2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    &::after {
                        content: "";
                        position: absolute;
                        height: 5px;
                        width: 100%;
                        background-color: $color-orange;
                        bottom: 0;
                        left: 0;
                    }
                }
            }
        }
    }
}
