// Variables
$color-main-green: #5DB179;
$color-grey: #BDBDBD;
$color-orange: #FF6F59;

.form-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    label {
        padding-bottom: 0.5rem;
        color: #fff;
        font-style: italic;
        font-size: 1rem;
    }
    input {
        background-color: #2d2d2d;
        border: none;
        padding: 0.75rem;
        color: #fff;
    }
    textarea {
        background-color: #2d2d2d;
        border: none;
        padding: 0.5rem;
        color: #fff;
        resize: vertical;
    }
    .error {
        color: $color-main-green;
        font-style: italic;
        padding-top: 15px;
        position: relative;
        font-size: 0.9rem;
    }
}
.btn-primary {
    color: $color-main-green;
    text-transform: uppercase;
    &:hover {
        color: #fff;
    }
}

@media (max-width: 767px) {
    .form-group {
        .error {
            font-size: 1rem;
        }
    }
    .btn-primary {
        color: $color-main-green;
        text-transform: uppercase;
        transition: none;
        padding: 1.2rem 1.5rem;
        font-size: 1.1rem;
        &:hover {
            background: none;
        }
    }
}

